@mixin grid($grid_cols, $grid_rows, $lg_gut) {
    display: grid;
    grid-template-columns: repeat($grid_cols, 1fr);
    grid-template-rows: repeat($grid_rows, 1fr);
    gap: $lg_gut;
}

@mixin placement($row_start, $row_fin, $col_debut, $col_fin) {
    grid-row-start: $row_start;
    grid-row-end: $row_fin;
    grid-column-start: $col_debut;
    grid-column-end: $col_fin;
}