@import "_clientMixin.scss";

$gutt: 0;
$grid_cols: 11;
$screen_size_s: 768;

body{
    margin: 0;
    font-family: sans-serif;
    
}

#clientbody{
    text-align: center;

    ul{
        list-style: none;
    }

    *{
        margin: 0;
        padding: 0;
    }

    header {
        @include grid(1, 2, .625em);

        section{
            @include placement(1, 3, 1, 2);
            @include grid(1, 1, .625em);

            h1{
                @include placement(1, 1, 1, 2);
                display: flex;
                align-items: center;
                justify-content: center;
                color: aliceblue;
                font-weight: normal;
            }

            img{
                @include placement(1, 1, 1, 2);
                width: 100%;
            }
        }

        nav{
            @include placement(1, 1, 1, 2);
            @include grid(1, 1, .625em);

            div{
                @include placement(1, 1, 1, 2);
                margin: 1.25em;
                text-align: left;
                img{
                    width : 6.25em;
                }
            }

            
            div:nth-child(2){
                @include placement(1, 1, 2, 3);
                margin: 1.25em;
                a{
                    color: aliceblue;
                    text-decoration: none;
                    img{
                        width: 2.3125em;
                        margin: .125em;
                    }
                }
            }
        }
    }

    header + section {
        padding: 1.875em;
    }

    #home{
        @include grid(3, 1, .625em);

        div{
            margin-bottom: 3.125em;
            img{
                width: 6.25em;
                margin-bottom: 1.25em;
            }
        }

        div:nth-child(1){
            @include placement(1, 1 , 1, 2);
        }

        div:nth-child(2){
            @include placement(1, 1 , 2, 3);
        }

        div:nth-child(3){
            @include placement(1, 1 , 3, 4);
        }
    }

    #menu{
        margin-bottom: 1.25em;
        ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            li{
                border: .125em solid green;
                border-radius: 1em;
                flex-basis: 15%;
                margin: .3125em;
                padding: 0 .625em;

                a{
                    color: green;
                    text-decoration: none;
                }
            }
        }
    }

    #products{
        div{
            border: .0625em solid gray;
            box-shadow: 0 0 1.25em  gray;
            border-radius: .625em;

            img{
                width: 100%;
                border-radius: .625em .625em 0 0;
            }

            ul{
                padding: .625em;
                @include grid(2, 2, .625em);

                li{
                    color: darkgreen;
                    font-size: 1em;
                    a{
                        text-decoration: none;
                        color: black;
                        font-size: 1em;
                    }
                }

                li:nth-child(3){
                    @include placement(2, 3, 2, 3);
                    form{
                        @include grid(2, 1, .3125em);
                        button{                        
                            @include placement(1, 2, 2, 3);
                            border: none;
                            background-color: white;
                            img{
                                width: 2.5em;
                            }
                        }
                        input{
                            @include placement(1, 2, 1, 2);
                            background-color: gray;
                            width: 95%;
                            font-size: 1em;
                        }
                    }
                }
            }
        }
    }

    #productsDetails{
        div:nth-child(1){
            img{
                border-radius: 1.25em;
                box-shadow: 0 0 1.25em gray;
                width: 100%;
            }
        }
        div:nth-child(2){
            ul{
                li{
                    padding: .625em;
                    h3{
                        font-weight: normal;
                        color: darkgreen;
                    }
                }
                
                form{
                    @include grid(2, 1, .3125em);
                    button{
                        color: white;
                        background-color: darkgreen;
                        padding: .625em;
                        font-size: 1em;
                        border-radius: 1.25em;
                    }
                    input{
                        background-color: gray;
                        width: 95%;
                        font-size: 1em;
                    }
                }
            }
        }
    }

    #producerProducts{
        margin: 1.875em;
        background-color: green;
        color: white;
        border-radius: 1.25em;

        img {
            width: 6.25em;
        }
        
        li{
            margin-top: .625em;
            a{
            text-decoration: none;
            color: white;
            }
        }

        li:nth-child(6){
            background-color: gray;
            border-radius: 0 0 1.25em 1.25em;
            padding: .625em;
        }
    }

    #producer{
        div{
            background-color: green;
            color: white;
            border-radius: 1.25em;
     
            img {
                width: 6.25em;
            }
            
            li{
                margin-top: .625em;
                a{
                text-decoration: none;
                color: white;
                }
            }

            li:nth-child(6){
                background-color: gray;
                border-radius: 0 0 1.25em 1.25em;
                padding: .625em;
            }
        }
    }

    #checkOrder{        
        @include grid(1, 1, 1.25em);
        input[type="submit"]{
            color: white;
            background-color: darkgreen;
            padding: .625em;
            font-size: 1em;
            border-radius: 1.25em;
        }
        input[type="text"]{
            background-color: white;
            border: darkgreen solid .125em;
            border-radius: 1.25em;
            padding: .625em;
            font-size: 1em;
        }
    }

    #checkout{
        table {
            width: 100%;
            a, tbody > tr th{
                color: darkgreen;
            }
        }
        hr, div{
            margin: 1.25em;
        }
        h2{
            color: darkgreen;
        }
        div a{
            margin: 1.25em;
            background-color: green;
            color: white;
            text-decoration: none;
            padding: .625em;
            border-radius: 1.25em;
        }
    }

    #open-modal{
        form{
            margin: .625em;
            @include grid(1, 1, .625em);
            input {
                padding: .625em;
                border: .125em solid darkgreen;
                color: darkgreen;
                border-radius: 1.25em;
                font-size: 1em;
            }
            input[type=submit]{
                background-color: darkgreen;
                color: white;
            }
        }
    }

    @media (min-width: 48em) {
        header {
            section{
                h1{
                    font-size: 5em;
                }
            }

            nav{
                div{
                    img{
                        width : 6.25em;
                    }
                }
                div:nth-child(2){
                    a{
                        font-size: 1em;
                        margin: .3125em;
                        img{
                            width: 1.4375em;
                            margin: .125em;
                        }
                    }
                }
            }
        }


        #store{
            #products{
                @include grid(3, 1, 1.25em);
            }
        }

        #productsDetails{
            @include grid(2, 1, 1.25em);
        }

        #producer{
            @include grid(4, 1, .625em);
        }
    }

    @media (min-width: 30.0625em) and (max-width: 47.9375em) {
        header {
            section{
                h1{
                    font-size: 3em;
                }
            }

            nav{
                div{
                    margin: .625em;
                    img{
                        width : 5em;
                    }
                }
                div:nth-child(2){
                    margin: .625em;
                    a{
                        margin: .125em;
                        font-size: .9em;
                        img{
                            width: 1.25em;
                            margin: .125em;
                        }
                    }
                }
            }
        }

        #store{
            #products{
                @include grid(2, 1, 1.25em);
            }
        }

        #producer{
            @include grid(3, 1, .625em);
        }
    }

    @media (max-width: 30em) {
        header {
            section{
                h1{
                    font-size: 2em;
                }
            }

            nav{
                div{
                    margin: .3125em;
                    img{
                        width : 3.75em;
                    }
                }
                div:nth-child(2){
                    margin: .3125em;
                    a{
                        margin: 0.0625em;
                        font-size: .8em;
                        img{
                            width: 1.0625em;
                            margin: .125em;
                        }
                    }
                }
            }
        }

        #home{
            @include grid(1, 3, .625em);
            
            div:nth-child(1){
                @include placement(1, 2 , 1, 3);
            }

            div:nth-child(2){
                @include placement(2, 3, 1, 3);
            }

            div:nth-child(3){
                @include placement(3, 4, 1, 3);
            }
        }

        #store{
            #products{
                @include grid(1, 1, 1.25em);
            }
        }
    }
}

.alert-danger{
    background-color: darkred;
    color: #ffffff;
    border-radius: .3125em;
    grid-column: 1/8;
    text-align: center;
}
    
.alert-success{
    background-color: darkgreen;
    color: #ffffff;
    border-radius: .3125em;
    grid-column: 1/8;
    text-align: center;
} 