@import "_clientMixin.scss";

$gutt: 0px;
$grid_cols: 11;
$screen_size_s: 768;

body{
    margin: 0;
    font-family: sans-serif;
    
}

#clientbody{
    text-align: center;

    ul{
        list-style: none;
    }

    *{
        margin: 0;
        padding: 0;
    }

    header {
        @include grid(1, 2, 10px);

        section{
            @include placement(1, 3, 1, 2);
            @include grid(1, 1, 10px);

            h1{
                @include placement(1, 1, 1, 2);
                display: flex;
                align-items: center;
                justify-content: center;
                color: aliceblue;
                font-weight: normal;
            }

            img{
                @include placement(1, 1, 1, 2);
                width: 100%;
            }
        }

        nav{
            @include placement(1, 1, 1, 2);
            @include grid(1, 1, 10px);

            img{
                width : 100px;
                @include placement(1, 1, 1, 2);
                margin: 20px;
            }

            
            div{
                @include placement(1, 1, 2, 3);
                margin: 20px;
                a{
                    color: aliceblue;
                    text-decoration: none;
                    img{
                        width: 25px;
                        margin: 2px;
                    }
                }
            }
        }
    }

    main{
        padding: 30px;
    }

    #home{
        @include grid(3, 1, 10px);

        div{
            margin-bottom: 50px;
            img{
                width: 100px;
                margin-bottom: 20px;
            }
        }

        div:nth-child(1){
            @include placement(1, 1 , 1, 2);
        }

        div:nth-child(2){
            @include placement(1, 1 , 2, 3);
        }

        div:nth-child(3){
            @include placement(1, 1 , 3, 4);
        }
    }

    #menu{
        margin-bottom: 20px;
        ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            li{
                border: 2px solid green;
                border-radius: 1em;
                flex-basis: 15%;
                margin: 5px;
                padding: 0 10px;

                a{
                    color: green;
                    text-decoration: none;
                }
            }
        }
    }

    #products{
        div{
            border: 1px solid gray;
            box-shadow: 0 0 20px  gray;
            border-radius: 10px;

            img{
                width: 100%;
                border-radius: 10px 10px 0 0;
            }

            ul{
                padding: 10px;
                @include grid(2, 2, 10px);

                li{
                    color: darkgreen;
                    font-size: 1em;
                    a{
                        text-decoration: none;
                        color: black;
                        font-size: 1em;
                    }
                }

                li:nth-child(3){
                    @include placement(2, 3, 2, 3);
                    form{
                        @include grid(2, 1, 5px);
                        button{                        
                            @include placement(1, 2, 2, 3);
                            border: none;
                            background-color: white;
                            img{
                                width: 40px;
                            }
                        }
                        input{
                            @include placement(1, 2, 1, 2);
                            background-color: gray;
                            width: 95%;
                            font-size: 1em;
                        }
                    }
                }
            }
        }
    }

    #productsDetails{
        div:nth-child(1){
            img{
                border-radius: 20px;
                box-shadow: 0 0 20px gray;
                width: 100%;
            }
        }
        div:nth-child(2){
            ul{
                li{
                    padding: 10px;
                }
                
                form{
                    @include grid(2, 1, 5px);
                    button{
                        color: white;
                        background-color: darkgreen;
                        padding: 10px;
                        font-size: 1em;
                        border-radius: 20px;
                    }
                    input{
                        background-color: gray;
                        width: 95%;
                        font-size: 1em;
                    }
                }
            }
        }
    }

    #producerProducts{
        margin: 30px;
        background-color: green;
        color: white;
        border-radius: 20px;

        img {
            width: 100px;
        }
        
        li{
            margin-top: 10px;
            a{
            text-decoration: none;
            color: white;
            }
        }

        li:nth-child(6){
            background-color: gray;
            border-radius: 0 0 20px 20px;
            padding: 10px;
        }
    }

    #producer{
        div{
            background-color: green;
            color: white;
            border-radius: 20px;
     
            img {
                width: 100px;
            }
            
            li{
                margin-top: 10px;
                a{
                text-decoration: none;
                color: white;
                }
            }

            li:nth-child(6){
                background-color: gray;
                border-radius: 0 0 20px 20px;
                padding: 10px;
            }
        }
    }

    #checkOrder{        
        @include grid(1, 1, 20px);
        input[type="submit"]{
            color: white;
            background-color: darkgreen;
            padding: 10px;
            font-size: 1em;
            border-radius: 20px;
        }
        input[type="text"]{
            background-color: white;
            border: darkgreen solid 2px;
            border-radius: 20px;
            padding: 10px;
            font-size: 1em;
        }
    }

    #checkout{
        table {
            width: 100%;
            a, tbody > tr th{
                color: darkgreen;
            }
        }
        hr, div{
            margin: 20px;
        }
        h2{
            color: darkgreen;
        }
        div a{
            margin: 20px;
            background-color: green;
            color: white;
            text-decoration: none;
            padding: 10px;
            border-radius: 20px;
        }
    }

    #open-modal{
        form{
            margin: 10px;
            @include grid(1, 1, 10px);
            input {
                padding: 10px;
                border: 2px solid darkgreen;
                color: darkgreen;
                border-radius: 20px;
                font-size: 1em;
            }
            input[type=submit]{
                background-color: darkgreen;
                color: white;
            }
        }
    }

    @media (min-width: 768px) {
        header {
            section{
                h1{
                    font-size: 5em;
                }
            }

            nav{
                img{
                    width: 100px;
                }
                div{
                    a{
                        font-size: 1em;
                        margin: 5px;
                        img{
                            width: 23px;
                            margin: 2px;
                        }
                    }
                }
            }
        }

        #store{
            #products{
                @include grid(3, 1, 20px);
            }
        }

        #productsDetails{
            @include grid(2, 1, 20px);
        }

        #producer{
            @include grid(4, 1, 10px);
        }
    }

    @media (min-width: 481px) and (max-width: 767px) {
        header {
            section{
                h1{
                    font-size: 3em;
                }
            }

            nav{
                img{
                    width: 80px;
                }
                div{
                    a{
                        margin: 2px;
                        font-size: .9em;
                        img{
                            width: 20px;
                            margin: 2px;
                        }
                    }
                }
            }
        }

        #store{
            #products{
                @include grid(2, 1, 20px);
            }
        }

        #producer{
            @include grid(3, 1, 10px);
        }
    }

    @media (max-width: 480px) {
        header {
            section{
                h1{
                    font-size: 2em;
                }
            }

            nav{
                img{
                    width: 60px;
                }
                div{
                    a{
                        margin: 1px;
                        font-size: .8em;
                        img{
                            width: 17px;
                            margin: 2px;
                        }
                    }
                }
            }
        }

        #home{
            @include grid(1, 3, 10px);
            
            div:nth-child(1){
                @include placement(1, 2 , 1, 3);
            }

            div:nth-child(2){
                @include placement(2, 3, 1, 3);
            }

            div:nth-child(3){
                @include placement(3, 4, 1, 3);
            }
        }

        #store{
            #products{
                @include grid(1, 1, 20px);
            }
        }
    }
}