//import the grid & element mixin
@import 'mixin';

//VARIABLES
$lightBlack : #3d3d3d; 
$headerTextColor : #dedede;
$headerBackgroundColor : #618d4d;
$darkGreen : #255d2e;


body{
    //we build a grid in the body with 1col of 1fraction, 
    //and 2 rows (header & main) in auto, and a gap of 1em (top&bottom)
    @include grid(1, 1fr, 1, auto, 1em 0);
    //media-queries for desktop version
    @media screen and (min-width : 62em) {
        @include grid(5, 1fr, 2, auto, 0 1em);
        grid-template-rows: auto 1fr;
    }
    font-family:sans-serif;
    margin: 0;

    //use this header for Manager & Producer's Pages
    header#headerManager{
        //in the body's grid : header is a element of 1,2 (100% width) on row 1
        @include element(1,2,1,1);
        //but also a grid, of 10col 1fr
        @include grid(10, 1fr, 1, auto, 0);

        @media screen and (min-width : 62em) {
            @include element(1,2,1,3);
            @include grid(3, 1fr, 8, auto, 0);
            height: 100vh;
        }
        background-color: $headerBackgroundColor;
        padding: 0.6em;

        //header_logo is the logo int he header, place in top-left
        #header_logo{
            //logo is a element of 2col width, in the 1st row
            @include element(1,2,1,1);
            @media screen and (min-width : 62em) {
                @include element(1,4,1,1);
                max-width: 60%;
            }
            //to adapt the width of logo in the container, use max-width
            max-width: 100%;
            margin : 0 auto;
        }
        //h3 (the admin or producer name)
        h3{
            //h3 is a element of 1col width, in the 1st row
            @include element(3,4,1,1);
            @media screen and (min-width : 62em) {
                @include element(1,4,2,2);
            }
            color: $headerTextColor;
            margin: auto 0;
            text-align: center;
            //display none only in tablet version
            // display: none;
        }
        nav{
            //nav is a element of 3col width, in the 1st row
            @include element(8,11,1,1);
            @media screen and (min-width : 62em) {
                @include element(1,4,3,4);
                margin: 0;
            }
            //this margin is for the offset issue with the logo
            margin: auto 0;

            &>ul{
                //initialize a grid of 3 col (bc of 3li) with a gap of 0.5em (left&right)
                @include grid(3, 1fr, 1, auto, 0 0.5em);
                @media screen and (min-width : 62em) {
                    @include grid(1, 1fr, 3, auto, 0);
                }
                list-style: none;
                text-align: center;
                padding: 0;
                color : $headerTextColor;

                &>li{
                    @media screen and (min-width : 62em) {
                        padding: 0.8em;
                    }
                }

                &>li:first-child{
                    @include element(1,1,1,1);
                    @media screen and (min-width : 62em) {
                        @include element(1,1,1,1);
                    }
                }
                &>li:nth-child(2){
                    @include element(2,2,1,1);
                    @media screen and (min-width : 62em) {
                        @include element(1,1,2,2)
                    }
                }
                &>li:nth-child(3){
                    @include element(3,3,1,1);
                    @media screen and (min-width : 62em) {
                        @include element(1,1,3,3)
                    }
                }
            }
        }
    }
    
    main{
        //in the body's grid : main is a element of 1,2 (100% width) on row 2
        @include element(1,2,2,2);
        @media screen and (min-width : 62em) {
            @include element(2,6,1,1);
        }
        //but also a grid, of 1col 1fr
        @include grid(6, 1fr, 2, auto, 1em 0);




        //***********************************************************************
        //main for ADMIN - LOGIN







        //***********************************************************************
        //main for ADMIN - ALL ORDERS
        //h1 (All Orders)
        h1{
            //h1 is a element of 1col width, in the 1st row
            @include element(1,3,1,1);
            font-size: 3em;
            text-align: center;
            color : $lightBlack;
        }
        //table of Orders
        table{
            //table is a element of 1col width, in the 2nd row
            @include element(1,7,2,2);
            text-align: center;
        }

        //***********************************************************************
        //main for ADMIN - ORDER NNNNN
        //in the body's grid : main is a element of 1,2 (100% width) on row 2
        //but also a grid, of 10col 1fr, 5 rows auto and gap of 10px (only top&bottom)
        @include grid(6, 1fr, 5, auto, 10px 0);
        @media screen and (min-width : 62em) {
            @include grid(6, 1fr, 5, auto, 10px);
        }

        //h1 (Order NNNNN)
        &>h1#orderNumber{
            //h1 is a element of 3col width, in the 1st row
            @include element(1,4,1,1);
            @media screen and (min-width : 62em) {
                @include element(1,3,1,1);
            }
            margin: 0;
        }
        //#orderActions is the box of buttons
        &>div#orderActions{
            //#orderActions is a element of 5col width, in the 3rd row
            @include element(1,4,3,3);
            //but also a grid, of 3col 1fr, 1 row auto and gap of 10px (only left&right)
            @include grid(3, 1fr, 1, auto,0 10px);
            @media screen and (min-width : 62em) {
                @include element(2,6,2,2);
                @include grid(6, 1fr, 2, auto, 10px);
            }
            font-size: 1em;
            text-align: center;
            //p (Statut of order)
            &>p{
                //p is a element of 1col width, in the 1st row
                @include element(1,1,1,1);
                @media screen and (min-width : 62em) {
                    @include element(3,5,1,1);
                }
                margin: 0;
                background-color: rgb(161, 161, 161);
                color: #fff;
            }
            //style of the buttons
            &>a{
                font-size: 0.8em;
                background: none;
                color: $darkGreen;
                outline: none;
                border : 5px solid #91b083;
                box-sizing: border-box;
            }
            &>a:nth-of-type(1){
                //a is a element of 1col width, in the 1st row
                @include element(2,2,1,1);
                @media screen and (min-width : 62em) {
                    @include element(1,3,2,2);
                }
            }
            &>a:nth-of-type(2){
                //a is a element of 1col width, in the 1st row
                @include element(3,3,1,1);
                @media screen and (min-width : 62em) {
                    @include element(5,7,2,2);
                }
            }
        }

        //section is the box of the order informations
        &>section#orderInformations{
            //#orderActions is a element of 4col width, in the 1st to 5th row (all the rows of this grid)
            @include element(5,7,1,2);
            //but also a grid, of 2col 1fr, 2 rows auto and gap of 10px (only top&bottom)
            @include grid(2, 1fr, 1, auto, 10px 0);
            @media screen and (min-width : 62em) {
                @include element(1,7,3,3);
                @include grid(3, 1fr, 1, auto, 10px 0);
                text-align: center;
            }

            //style for the p in the articles
            &>article>p{
                margin : 0;
            }
            &>article>p:last-child{
                color : $lightBlack;
            }

                
            &>article:nth-of-type(1){
                @include element(1,2,1,1);
                @media screen and (min-width : 62em) {
                    @include element(1,1,1,1);
                }
            }
            &>article:nth-of-type(2){
                @include element(2,3,1,1);
                @media screen and (min-width : 62em) {
                    @include element(2,2,1,1);
                }
            }
            &>article:nth-of-type(3){
                @include element(1,2,2,2);
                @media screen and (min-width : 62em) {
                    @include element(3,3,1,1);
                }
            }
            
        }
        table{
            @include element(1,7,5,5);
        }



        //***********************************************************************
        //main for ADMIN - DASHBOARD
        //in the body's grid : main is a element of 1,2 (100% width) on row 2

        h1#myDashboard{
            text-align: center;
            @include element(1,7,1,1);
        }
        //section is the container of the differents blocs
        section#dashboardInfos{
            //section is a grid, of 6col 1fr, 2 row auto and gap of 10px (all sides)
            @include grid(6, 1fr, 2, auto, 10px);
            @include element(1,7,2,2);
            padding : 0 1em;
            //article is the box of 1 information
            &>article{
                background-color: #255d2e;
                border-radius : 10px;
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-items: center;

                //span for the number of information
                span{
                    font-size: 1.5em;
                }
                //p for the context of the information
                p{
                    font-size: 2em;
                    text-align: center;
                    color: rgb(198, 198, 198);
                }
            }

            &>article:nth-child(1){
                //article is a element of 3col width, in the 1st row
                @include element(1,4,1,1);
                @media screen and (min-width : 62em) {
                    @include element(1,5,1,1);
                }
            }
            &>article:nth-child(2){
                //article is a element of 2col width, in the 1st row
                @include element(4,6,1,1);
                @media screen and (min-width : 62em) {
                    @include element(5,7,1,1);
                }

            }
            &>article:nth-child(3){
                //article is a element of 1col width, in the 1st row
                @include element(6,7,1,1);
                @media screen and (min-width : 62em) {
                    @include element(5,7,2,2);
                }
            }
            &>article:nth-child(4){
                //article is a element of 3col width, in the 2nd row
                @include element(1,4,2,2);
                @media screen and (min-width : 62em) {
                    @include element(1,3,2,2);
                }
            }
            &>article:nth-child(5){
                //article is a element of 3col width, in the 2nd row
                @include element(4,7,2,2);
                @media screen and (min-width : 62em) {
                    @include element(3,5,2,2);
                }
            }
        }
    }

    //Class that we're gonna use for both (Manager | Producer)
    //tableList fro the table of orders/order
    .tableList{
        text-align: center;
        border-collapse: collapse;
        &>thead{
            background-color: #d9d9d9;
            &>tr>th{
                padding: 0.5em;
            }
        }

        &>tbody>tr{
            border-bottom: 1px solid #ddd;
            &>td{
                padding: 0.5em;
                color : $lightBlack;
            }
            &>td>a:last-child{
                color: $headerBackgroundColor;
            }
        }
    }

    #loginManager{
        @include element(1,6,1,3);
        @include grid(3, 1fr, 6, auto, 1em 0);
        height: 100vh;
        background-image: url('../Elements/header-bg-complete.png');

        &>form{
            @include element(2,3,2,2);
            @include grid(3, 1fr, 6, 2em, 1em 0);
            @media screen and (min-width : 62em) {
                @include grid(8, 1fr, 6, auto, 1em 0);
                @include element(2,3,3,3);
            }

            &>input{
                outline: none;
                background-color: transparent;
                border : 2px solid #fff;
                border-radius: 7px;
                color : #fff;
            }
            ::placeholder {
                color: #fff;
              }

            &>input:first-child{
                @include element(1,4,4,4);
                @media screen and (min-width : 62em) {
                    @include element(2,8,1,1);
                }
            }
            &>input:nth-child(2){
                @include element(1,4,5,5);
                @media screen and (min-width : 62em) {
                    @include element(2,8,3,3);
                }
            }
            &>input:nth-child(3){
                @include element(2,3,6,6);
                @media screen and (min-width : 62em) {
                    @include element(3,7,5,5);
                }
            }
        }
    }
}