#clientbody {
  font-family: sans-serif;
}
@media screen and (max-width: 480px) {
  #clientbody header {
    width: 100%;
    height: 100vh;
    background-image: url(../img/header-bg-complete.png);
    background-size: cover;
    position: relative;
  }
  #clientbody header nav {
    margin: 18px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1, auto);
    grid-auto-flow: row;
    grid-gap: 10px;
    color: white;
    justify-content: center;
    align-items: center;
  }
  #clientbody header nav div:first-child {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 0;
    grid-row-end: 0;
  }
  #clientbody header nav div:nth-child(2) {
    grid-column-start: 6;
    grid-column-end: 12;
    grid-row-start: 0;
    grid-row-end: 0;
  }
  #clientbody header nav div:nth-child(2) a {
    color: white;
    text-decoration: none;
  }
  #clientbody #titre {
    position: absolute;
    margin-left: 9rem;
    margin-top: -20rem;
    color: white;
    text-align: center;
  }
  #clientbody main > section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto, auto);
    grid-auto-flow: row;
    grid-gap: 0px;
    text-align: center;
    justify-content: center;
  }
  #clientbody main > section img {
    width: 100px;
  }
  #clientbody #menu ul {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1, auto);
    grid-auto-flow: row;
    grid-gap: 40px;
    text-align: center;
  }
  #clientbody #menu ul li {
    border: 1px solid green;
    border-radius: 40px;
    padding: 10px;
  }
  #clientbody #products {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1, auto);
    grid-auto-flow: row;
    grid-gap: 40px;
    justify-content: center;
  }
  #clientbody #products div {
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 0;
    grid-row-end: 0;
    border: 1px solid #888888;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
  }
  #clientbody #products img {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }
  #clientbody #products ul li {
    margin-top: 2px;
  }
  #clientbody #products ul li:nth-child(2) {
    position: absolute;
    margin-left: 15rem;
    margin-top: -1rem;
  }
  #clientbody #products ul li:nth-child(4) {
    width: 11%;
    margin-left: 16rem;
  }
  #clientbody #productsDetails {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1, auto);
    grid-auto-flow: row;
    grid-gap: 7px;
    text-align: center;
    margin-top: 50px;
  }
  #clientbody #productsDetails div:first-child {
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 0;
    grid-row-end: 0;
  }
  #clientbody #productsDetails div:first-child img {
    width: 80%;
    border-radius: 20px;
  }
  #clientbody #productsDetails div:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 0;
    grid-row-end: 0;
  }
  #clientbody #productsDetails div:nth-child(3) {
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 0;
    grid-row-end: 0;
  }
  #clientbody #productsDetails div:nth-child(4) {
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 0;
    grid-row-end: 0;
  }
  #clientbody #productsDetails div:nth-child(5) {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 0;
    grid-row-end: 0;
  }
  #clientbody #productsDetails div:nth-child(6) {
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 0;
    grid-row-end: 0;
  }
  #clientbody #producer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, auto);
    grid-auto-flow: row;
    grid-gap: 7px;
    justify-content: center;
    margin-top: 50px;
  }
  #clientbody #producer div {
    background-color: green;
    border-radius: 20px;
  }
  #clientbody #producer div ul {
    padding: 0;
    text-align: center;
  }
  #clientbody #producer div ul li:nth-child(6) {
    background-color: grey;
    margin-bottom: 0;
    padding: 20px;
  }
  #clientbody #producer div ul li:nth-child(6) a {
    text-decoration: none;
    color: white;
  }
  #clientbody #producerDetails {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1, auto);
    grid-auto-flow: row;
    grid-gap: 7px;
    text-align: center;
    align-content: center;
    background-color: green;
  }
  #clientbody #producerDetails div:first-child {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 0;
    grid-row-end: 0;
  }
  #clientbody #producerDetails div:nth-child(2) {
    grid-column-start: 6;
    grid-column-end: 12;
    grid-row-start: 0;
    grid-row-end: 0;
  }
  #clientbody #prodDetails {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto, auto);
    grid-auto-flow: row;
    grid-gap: 20px;
    justify-content: center;
  }
  #clientbody #prodDetails div:nth-child(1) {
    border: 1px solid #888888;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
  }
  #clientbody #prodDetails div:nth-child(2) {
    border: 1px solid #888888;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
  }
  #clientbody #prodDetails div:nth-child(3) {
    border: 1px solid #888888;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
  }
  #clientbody #prodDetails div:nth-child(4) {
    border: 1px solid #888888;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
  }
  #clientbody #prodDetails div:nth-child(5) {
    border: 1px solid #888888;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
  }
  #clientbody #prodDetails div:nth-child(6) {
    border: 1px solid #888888;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
  }
  #clientbody #prodDetails div:nth-child(7) {
    border: 1px solid #888888;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
  }
  #clientbody #prodDetails div:nth-child(8) {
    border: 1px solid #888888;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
  }
  #clientbody #prodDetails div:nth-child(9) {
    border: 1px solid #888888;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
  }
  #clientbody #prodDetails div:nth-child(10) {
    border: 1px solid #888888;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
  }
  #clientbody #prodDetails div:nth-child(11) {
    border: 1px solid #888888;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
  }
  #clientbody #prodDetails div:nth-child(12) {
    border: 1px solid #888888;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
  }
  #clientbody #prodDetails img {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }
  #clientbody #prodDetails ul {
    padding: 0;
  }
  #clientbody #prodDetails ul li {
    margin-top: 2px;
  }
  #clientbody #prodDetails ul li:nth-child(2) {
    position: absolute;
    margin-left: 73%;
    margin-top: -1%;
  }
  #clientbody #prodDetails ul li:nth-child(4) {
    width: 11%;
    margin-left: 81%;
  }
  #clientbody #checkOrder div p {
    display: none;
  }
  #clientbody #checkOrder div form {
    position: absolute;
    margin-top: -50%;
    margin-left: 27%;
  }
  #clientbody #checkOrder div form input:first-child {
    border-radius: 20px;
    border: 3px solid green;
  }
  #clientbody #checkOrder div form input:nth-child(2) {
    border-radius: 20px;
    background-color: green;
    border: 1px solid green;
  }
}
@media only screen and (max-width: 768px) and (min-width: 481px) {
  #clientbody header {
    width: 100%;
    height: 100vh;
    background-image: url(../img/header-bg-complete.png);
    background-size: cover;
    position: relative;
  }
  #clientbody header nav {
    margin: 18px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1, auto);
    grid-auto-flow: row;
    grid-gap: 10px;
    color: white;
    justify-content: center;
    align-items: center;
  }
  #clientbody header nav div:first-child {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 0;
    grid-row-end: 0;
  }
  #clientbody header nav div:nth-child(2) {
    grid-column-start: 6;
    grid-column-end: 12;
    grid-row-start: 0;
    grid-row-end: 0;
  }
  #clientbody header nav div:nth-child(2) a {
    color: white;
    text-decoration: none;
  }
  #clientbody #titre {
    position: absolute;
    margin-left: 18rem;
    margin-top: -17rem;
    color: white;
    text-align: center;
  }
  #clientbody main > section {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(1, auto);
    grid-auto-flow: row;
    grid-gap: 40px;
    text-align: center;
  }
  #clientbody main > section div:first-child {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 0;
    grid-row-end: 0;
  }
  #clientbody main > section div:nth-child(2) {
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 0;
    grid-row-end: 0;
  }
  #clientbody main > section div:nth-child(3) {
    grid-column-start: 9;
    grid-column-end: 12;
    grid-row-start: 0;
    grid-row-end: 0;
  }
  #clientbody main > section img {
    width: 100px;
  }
  #clientbody #menu ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, auto);
    grid-auto-flow: row;
    grid-gap: 40px;
    text-align: center;
    justify-content: center;
  }
  #clientbody #menu ul li {
    border: 1px solid green;
    border-radius: 40px;
    padding: 10px;
  }
  #clientbody #prodDetails {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto, auto);
    grid-auto-flow: row;
    grid-gap: 20px;
    justify-content: center;
  }
  #clientbody #prodDetails div:nth-child(1) {
    border: 1px solid #888888;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
  }
  #clientbody #prodDetails div:nth-child(2) {
    border: 1px solid #888888;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
  }
  #clientbody #prodDetails div:nth-child(3) {
    border: 1px solid #888888;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
  }
  #clientbody #prodDetails div:nth-child(4) {
    border: 1px solid #888888;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
  }
  #clientbody #prodDetails div:nth-child(5) {
    border: 1px solid #888888;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
  }
  #clientbody #prodDetails div:nth-child(6) {
    border: 1px solid #888888;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
  }
  #clientbody #prodDetails div:nth-child(7) {
    border: 1px solid #888888;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
  }
  #clientbody #prodDetails div:nth-child(8) {
    border: 1px solid #888888;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
  }
  #clientbody #prodDetails div:nth-child(9) {
    border: 1px solid #888888;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
  }
  #clientbody #prodDetails div:nth-child(10) {
    border: 1px solid #888888;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
  }
  #clientbody #prodDetails div:nth-child(11) {
    border: 1px solid #888888;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
  }
  #clientbody #prodDetails div:nth-child(12) {
    border: 1px solid #888888;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
  }
  #clientbody #prodDetails img {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }
  #clientbody #prodDetails ul {
    padding: 0;
  }
  #clientbody #prodDetails ul li {
    margin-top: 2px;
  }
  #clientbody #prodDetails ul li:nth-child(2) {
    position: absolute;
    margin-left: 34%;
    margin-top: -1%;
  }
  #clientbody #prodDetails ul li:nth-child(4) {
    width: 11%;
    margin-left: 81%;
  }
  #clientbody #products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto, auto);
    grid-auto-flow: row;
    grid-gap: 20px;
  }
  #clientbody #products div:nth-child(1) {
    border: 1px solid #888888;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
  }
  #clientbody #products div:nth-child(2) {
    border: 1px solid #888888;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
  }
  #clientbody #products div:nth-child(3) {
    border: 1px solid #888888;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
  }
  #clientbody #products div:nth-child(4) {
    border: 1px solid #888888;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
  }
  #clientbody #products div:nth-child(5) {
    border: 1px solid #888888;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
  }
  #clientbody #products div:nth-child(6) {
    border: 1px solid #888888;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
  }
  #clientbody #products div:nth-child(7) {
    border: 1px solid #888888;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
  }
  #clientbody #products div:nth-child(8) {
    border: 1px solid #888888;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
  }
  #clientbody #products div:nth-child(9) {
    border: 1px solid #888888;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
  }
  #clientbody #products div:nth-child(10) {
    border: 1px solid #888888;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
  }
  #clientbody #products div:nth-child(11) {
    border: 1px solid #888888;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
  }
  #clientbody #products div:nth-child(12) {
    border: 1px solid #888888;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
  }
  #clientbody #products img {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }
  #clientbody #products ul {
    padding: 0;
  }
  #clientbody #products ul li {
    margin-top: 2px;
  }
  #clientbody #products ul li:nth-child(2) {
    position: absolute;
    margin-left: 31%;
    margin-top: -1rem;
  }
  #clientbody #products ul li:nth-child(4) {
    width: 11%;
    margin-left: 81%;
  }
  #clientbody #productsDetails {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto, auto);
    grid-auto-flow: row;
    grid-gap: 7px;
    text-align: center;
    margin-top: 50px;
  }
  #clientbody #productsDetails div:first-child img {
    width: 80%;
    border-radius: 20px;
  }
  #clientbody #producerDetails {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1, auto);
    grid-auto-flow: row;
    grid-gap: 7px;
    text-align: center;
    align-content: center;
    background-color: green;
  }
  #clientbody #producerDetails div:first-child {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 0;
    grid-row-end: 0;
  }
  #clientbody #producerDetails div:nth-child(2) {
    grid-column-start: 6;
    grid-column-end: 12;
    grid-row-start: 0;
    grid-row-end: 0;
  }
  #clientbody #producer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto, auto);
    grid-auto-flow: row;
    grid-gap: 20px;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
  }
  #clientbody #producer div {
    background-color: green;
    color: white;
    border-radius: 20px;
  }
  #clientbody #producer div ul {
    padding: 0;
  }
  #clientbody #producer div ul li {
    margin-top: 20px;
  }
  #clientbody #producer div ul li:nth-child(6) {
    background-color: grey;
    margin-bottom: 0;
    padding: 20px;
  }
  #clientbody #producer div ul li:nth-child(6) a {
    text-decoration: none;
    color: white;
  }
  #clientbody #checkOrder {
    display: grid;
    grid-template-columns: repeat(1, 50%);
    grid-template-rows: repeat(auto, auto);
    grid-auto-flow: row;
    grid-gap: 20px;
    justify-content: center;
    text-align: center;
    margin-bottom: 25%;
  }
  #clientbody #checkOrder div p {
    font-size: 25px;
  }
  #clientbody #checkOrder div form input:first-child {
    border-radius: 20px;
    padding: 2%;
    border: 3px solid green;
  }
  #clientbody #checkOrder div form input:nth-child(2) {
    border-radius: 20px;
    padding: 2%;
    background-color: green;
    border: 1px solid green;
  }
}
@media screen and (min-width: 769px) {
  #clientbody header {
    width: 100%;
    height: 100vh;
    background-image: url(../img/header-bg-complete.png);
    background-size: cover;
    position: relative;
  }
  #clientbody header nav {
    margin: 18px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, auto);
    grid-auto-flow: row;
    grid-gap: 10px;
    color: white;
    justify-content: center;
    align-items: center;
  }
  #clientbody header nav div:first-child {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 0;
    grid-row-end: 0;
  }
  #clientbody header nav div:nth-child(2) {
    grid-column-start: 7;
    grid-column-end: 12;
    grid-row-start: 0;
    grid-row-end: 0;
  }
  #clientbody header nav div:nth-child(2) a {
    color: white;
    text-decoration: none;
    margin-left: 12px;
  }
  #clientbody header nav div:nth-child(2) a img {
    width: 40px;
  }
  #clientbody #titre {
    position: absolute;
    margin-left: 32%;
    margin-top: -24%;
    color: white;
    text-align: center;
    font-size: 68px;
  }
  #clientbody main > section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, auto);
    grid-auto-flow: row;
    grid-gap: 40px;
    text-align: center;
    margin-top: 50px;
  }
  #clientbody main > section img {
    width: 100px;
  }
  #clientbody #menu ul {
    display: grid;
    grid-template-columns: repeat(4, 8%);
    grid-template-rows: repeat(1, auto);
    grid-auto-flow: row;
    grid-gap: 40px;
    text-align: center;
    justify-content: center;
  }
  #clientbody #menu ul li {
    border: 1px solid green;
    border-radius: 40px;
    padding: 10px;
  }
  #clientbody #products {
    display: grid;
    grid-template-columns: repeat(3, 17%);
    grid-template-rows: repeat(auto, auto);
    grid-auto-flow: row;
    grid-gap: 20px;
    justify-content: center;
  }
  #clientbody #products div:nth-child(1) {
    border: 1px solid #888888;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
  }
  #clientbody #products div:nth-child(2) {
    border: 1px solid #888888;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
  }
  #clientbody #products div:nth-child(3) {
    border: 1px solid #888888;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
  }
  #clientbody #products div:nth-child(4) {
    border: 1px solid #888888;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
  }
  #clientbody #products div:nth-child(5) {
    border: 1px solid #888888;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
  }
  #clientbody #products div:nth-child(6) {
    border: 1px solid #888888;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
  }
  #clientbody #products div:nth-child(7) {
    border: 1px solid #888888;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
  }
  #clientbody #products div:nth-child(8) {
    border: 1px solid #888888;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
  }
  #clientbody #products div:nth-child(9) {
    border: 1px solid #888888;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
  }
  #clientbody #products div:nth-child(10) {
    border: 1px solid #888888;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
  }
  #clientbody #products div:nth-child(11) {
    border: 1px solid #888888;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
  }
  #clientbody #products div:nth-child(12) {
    border: 1px solid #888888;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
  }
  #clientbody #products img {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }
  #clientbody #products ul {
    padding: 0;
  }
  #clientbody #products ul li {
    margin-top: 2px;
  }
  #clientbody #products ul li:nth-child(2) {
    position: absolute;
    margin-left: 12%;
    margin-top: -1%;
  }
  #clientbody #products ul li:nth-child(4) {
    width: 11%;
    margin-left: 81%;
  }
  #clientbody #productsDetails {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto, auto);
    grid-auto-flow: row;
    grid-gap: 7px;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
  }
  #clientbody #productsDetails div:first-child img {
    width: 50%;
    border-radius: 20px;
  }
  #clientbody #prodDetails {
    display: grid;
    grid-template-columns: repeat(2, 17%);
    grid-template-rows: repeat(auto, auto);
    grid-auto-flow: row;
    grid-gap: 20px;
    justify-content: end;
  }
  #clientbody #prodDetails div:nth-child(1) {
    border: 1px solid #888888;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
  }
  #clientbody #prodDetails div:nth-child(2) {
    border: 1px solid #888888;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
  }
  #clientbody #prodDetails div:nth-child(3) {
    border: 1px solid #888888;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
  }
  #clientbody #prodDetails div:nth-child(4) {
    border: 1px solid #888888;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
  }
  #clientbody #prodDetails div:nth-child(5) {
    border: 1px solid #888888;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
  }
  #clientbody #prodDetails div:nth-child(6) {
    border: 1px solid #888888;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
  }
  #clientbody #prodDetails div:nth-child(7) {
    border: 1px solid #888888;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
  }
  #clientbody #prodDetails div:nth-child(8) {
    border: 1px solid #888888;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
  }
  #clientbody #prodDetails div:nth-child(9) {
    border: 1px solid #888888;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
  }
  #clientbody #prodDetails div:nth-child(10) {
    border: 1px solid #888888;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
  }
  #clientbody #prodDetails div:nth-child(11) {
    border: 1px solid #888888;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
  }
  #clientbody #prodDetails div:nth-child(12) {
    border: 1px solid #888888;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
  }
  #clientbody #prodDetails img {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }
  #clientbody #prodDetails ul {
    padding: 0;
  }
  #clientbody #prodDetails ul li {
    margin-top: 2px;
  }
  #clientbody #prodDetails ul li:nth-child(2) {
    position: absolute;
    margin-left: 12%;
    margin-top: -1%;
  }
  #clientbody #prodDetails ul li:nth-child(4) {
    width: 11%;
    margin-left: 81%;
  }
  #clientbody #producer {
    display: grid;
    grid-template-columns: repeat(4, 17%);
    grid-template-rows: repeat(auto, auto);
    grid-auto-flow: row;
    grid-gap: 20px;
    text-align: center;
    justify-content: center;
  }
  #clientbody #producer div {
    background-color: green;
    color: white;
    border-radius: 20px;
  }
  #clientbody #producer div ul {
    padding: 0;
  }
  #clientbody #producer div ul li {
    margin-top: 20px;
  }
  #clientbody #producer div ul li:nth-child(6) {
    background-color: grey;
    margin-bottom: 0;
    padding: 20px;
  }
  #clientbody #producer div ul li:nth-child(6) a {
    text-decoration: none;
    color: white;
  }
  #clientbody #checkOrder {
    display: grid;
    grid-template-columns: repeat(1, 50%);
    grid-template-rows: repeat(auto, auto);
    grid-auto-flow: row;
    grid-gap: 20px;
    justify-content: center;
    text-align: center;
    margin-bottom: 25%;
  }
  #clientbody #checkOrder div p {
    font-size: 50px;
  }
  #clientbody #checkOrder div form input:first-child {
    border-radius: 20px;
    padding: 2%;
    border: 3px solid green;
  }
  #clientbody #checkOrder div form input:nth-child(2) {
    border-radius: 20px;
    padding: 2%;
    background-color: green;
    border: 1px solid green;
  }
}
#clientbody #checkout table {
  width: 100%;
}
#clientbody #checkout table tr th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
#clientbody #checkout table tr td {
  padding: 12px;
}
#clientbody #checkout h2 {
  margin-left: 86%;
}
#clientbody #modal div:first-child div a {
  border: 1px solid green;
  background-color: green;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 20px;
  margin-left: 86%;
}
#clientbody #modal .modal-window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}
#clientbody #modal .modal-window:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
#clientbody #modal .modal-window > div {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  background: white;
}
#clientbody #modal .modal-window header {
  font-weight: bold;
}
#clientbody #modal .modal-window h1 {
  font-size: 150%;
  margin: 0 0 15px;
  text-align: center;
}
#clientbody #modal .modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}
#clientbody #modal .modal-close:hover {
  color: black;
}
#clientbody #modal a {
  color: inherit;
}
#clientbody #modal .modal-window > div {
  border-radius: 1rem;
}
#clientbody #modal .modal-window > div form input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 2px solid green;
  border-radius: 20px;
}
#clientbody #modal .modal-window > div form input:nth-child(4) {
  background-color: green;
  color: white;
  margin-left: 8px;
}
#clientbody #modal .modal-window div:not(:last-of-type) {
  margin-bottom: 15px;
}
#clientbody img {
  width: 100px;
}
#clientbody main {
  text-align: center;
}
#clientbody ul {
  list-style: none;
}

/*# sourceMappingURL=clientStyle.css.map */
